{
   "db_config": [
       {
           "type": "mysql",
           "host": "<db-hostname>",
           "username": "<db-user>",
           "password": "<db-password>",
           "database": "<db-name>",
       }
   ],
   "avatar_storage": [
       {
           "type": "aws-s3",
           "host": "<s3-hostname>",
           "access-key-id": "<s3-access-key>",
           "secret": "<s3-secret>",
           "region": "<s3-region>",
           "bucket": "<s3-bucket-name>"
        },
        {
           "type": "cache",
           "location": "<path-to-cache>"
        }
   ]
}
